.app-download {
  min-height: 670px;
  background-image: url("../img/app-download-background/app-download-background-mobile.jpg");
  background-color: #1d2631;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  color: @contrast-font-color;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/app-download-background/app-download-background-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    min-height: 697px;
    background-image: url("../img/app-download-background/app-download-background-tablet.jpg");
    justify-content: center;
    align-items: flex-start;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/app-download-background/app-download-background-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 853px;
    background-image: url("../img/app-download-background/app-download-background-desktop.jpg");
    padding-left: 130px;
    padding-right: 130px;
    box-sizing: border-box;
    justify-content: start;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/app-download-background/app-download-background-desktop@2x.jpg");
    }
  }
}

.app-download__slogan-container {
  margin-top: 90px;
  margin-bottom: 341px;

  @media (min-width: @tablet-width) {
    width: 200px;
    padding-left: 50px;
    margin-bottom: 28px;
    margin-top: 127px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    padding-left: 0;
    margin-bottom: 35px;
    margin-top: 210px;
  }
}

.app-download__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.app-download__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.app-download__link {
  font: inherit;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 35px;
  padding: 16px 35px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;

  @media (min-width: @tablet-width) {
    padding: 15px 45px;
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    padding: 16px 28px;
    font-size: 21px;
    margin-bottom: 70px;
  }

  &:hover {
    color: @contacts-link-color;
    background-color: @main-bg-color;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: @main-bg-color;
  }
}

.app-download__availability {
  font-weight: 300;
  line-height: 24px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.app-download__list {
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }
}
