.page-main__header-container {
  background-image: url("../img/inner-background.jpg");
  background-size: 100% auto;
  background-color: #283645;
  min-height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 46px;
  padding-right: 46px;

  @media (min-width: @tablet-width) {
    min-height: 330px;
    padding-left: 85px;
    padding-right: 85px;
  }

  @media (min-width: @desktop-width) {
    min-height: 284px;
    padding-left: 225px;
    padding-right: 225px;
  }
}

.page-main__header {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @contrast-font-color;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.page-main__slogan-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 54px;
  padding-bottom: 60px;

  @media (min-width: @tablet-width) {
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 100px;
    padding-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 222px;
    padding-right: 222px;
  }
}

.page-main__slogan {
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.page-main__fields {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: @tablet-width) {
    align-items: stretch;
  }
}
