.reviews {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  @media (min-width: @desktop-width) {
    margin-left: 130px;
    margin-right: 130px;
    padding: 0;
  }
}

.reviews__container {
  @media (min-width: @desktop-width) {
    margin-bottom: 132px;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 79px;
      height: 63px;
      top: 72px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../img/quotes.svg");
      background-repeat: no-repeat;
    }
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.reviews__author-name {
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    order: 2;
    margin-top: 35px;
    margin-bottom: 0;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-info {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-weight: 400;
    font-size: 14px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 34px;
  }
}

.reviews__text {
  margin: 0 auto;
  max-width: 270px;

  @media (min-width: @tablet-width) {
    max-width: 620px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 185px;
    max-width: 700px;
  }
}

.reviews__button {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    background-color: inherit;
    border: none;
    padding: 0;
    position: absolute;
    top: 213px;
    cursor: pointer;
    opacity: 0.3;

    &--next {
      right: 0;
      transform: rotate(180deg);
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}

.reviews__toggles {
  margin-top: 33px;
  margin-bottom: 59px;

  @media (min-width: @tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: @desktop-width) {
    display: none;
    margin-bottom: 55px;
  }
}
