.tariffs {
  background-color: @minor-bg-color;
}

.tariffs-list__header {
  background-color: @table-bg-color;
  color: @contrast-font-color;
}

.tariffs-list__name {
  font-size: 16px;
  font-weight: 700;
}

.tariffs-list__price {
  font-size: 18px;
  font-weight: 300;
}

.tariffs-list__filters {
  background-color: @main-bg-color;
}
