.user-form__fieldset {
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.user-paragraph__label {
  color: @contacts-link-color;
  text-transform: uppercase;
}

.user-paragraph__field {
  font-size: 18px;
  color: @main-font-color;
}

.user-form__fieldset--achievements,
.user-form__fieldset--apps {
  background-color: @minor-bg-color;
}

.user-achievements-list,
.user-apps-list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
}

.user-form__title {
  line-height: 18px;
  color: @contacts-link-color;
  text-transform: uppercase;
}

.user-form__comment-field {
  font-size: 18px;
}

.remark {
  color: @contacts-link-color;
}

.popup {
  padding-top: 44px;
}

.popup__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.popup__content {
  line-height: 24px;
}

.popup__button-container {
  padding: 50px 20px;
  background-color: @minor-bg-color;
}
