.user-photo__slogan {
  margin: 49px 20px 52px 20px;
}

.user-photo__container {
  padding: 20px 20px 40px 20px;
  background-color: @minor-bg-color;
}

.user-photo__image {
  width: 100%;
  height: auto;
}
